body {
  color: white;
}

#hero {
  height: 100vh;
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.taskContainer {
  background-color: white;
  border: solid 0.5em #ffc107;
  border-radius: 0.5em;
  box-sizing: border-box;
  flex: 0 0 30%;
  height: 240px;
  margin-top: 1em;
  overflow: auto;
}

#taskItems {
  overflow: hidden;
  position: relative;
}

#taskItems .scrollbox {
  height: 100%;
  overflow: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  background-color: lightgray;
  color: #212121;
  margin: 0.25em;
  padding: 0.5em;
}
